{#
SPDX-FileCopyrightText: 2023 Marlon W (Mawoka)
SPDX-FileCopyrightText: 2026 frogQuiz contributors

SPDX-License-Identifier: MPL-2.0
#}
{% extends "base.jinja2" %}

{% block subject %}Reset your password{% endblock %}
{% block preheader %}Choose a new frogQuiz password. The link works for one hour.{% endblock %}
{% block heading %}Reset your password{% endblock %}
{% block lede %}Use the link below to set a new password. It stops working after an hour. If you didn't ask for this, ignore this email; nothing has changed.{% endblock %}
{% block action_url %}{{ base_url }}/account/password-reset?token={{ token }}{% endblock %}
{% block action_label %}Choose a new password{% endblock %}
{% block footnote %}You're getting this because a password reset was requested for this address on frogQuiz.{% endblock %}
