{#
SPDX-FileCopyrightText: 2026 frogQuiz contributors

SPDX-License-Identifier: MPL-2.0
#}
Reset your password

Use the link below to set a new password. It stops working after an hour.
If you didn't ask for this, ignore this email; nothing has changed.

{{ base_url }}/account/password-reset?token={{ token }}

--
frogQuiz. You're getting this because a password reset was requested for
this address.
