{#
SPDX-FileCopyrightText: 2023 Marlon W (Mawoka)
SPDX-FileCopyrightText: 2026 frogQuiz contributors

SPDX-License-Identifier: MPL-2.0
#}
{% extends "base.jinja2" %}

{% block subject %}Confirm your email address{% endblock %}
{% block preheader %}One click and your frogQuiz account is ready.{% endblock %}
{% block heading %}Confirm your email address{% endblock %}
{% block lede %}One click and your frogQuiz account is ready. If you didn't sign up, you can ignore this email.{% endblock %}
{% block action_url %}{{ base_url }}/api/v1/users/verify/{{ token }}{% endblock %}
{% block action_label %}Confirm my email address{% endblock %}
{% block footnote %}You're getting this because someone used this address to sign up for frogQuiz.{% endblock %}
