{#
SPDX-FileCopyrightText: 2026 frogQuiz contributors

SPDX-License-Identifier: MPL-2.0
#}
Sign in to frogQuiz

Open the link below, or type the code {{ code }} on the page that asked for
it. Both work for 15 minutes. If you didn't ask to sign in, ignore this
email.

{{ link }}

--
frogQuiz. You're getting this because someone asked to sign in with this
address.
